body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: linear-gradient(150deg, #7DF9FF, #32CD32);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Recordar_contraseña {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 12px;
  color: #333;
  opacity: 0.8;
  cursor: default;
}


.formulario {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.formulario h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.formulario div {
  position: relative;
  margin-bottom: 25px;
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: 0.3s ease;
}

.formulario input:focus {
  border-bottom: 2px solid #32CD32;
}

.formulario label {
  position: absolute;
  left: 10px;
  top: -10px;
  background: white;
  padding: 0 5px;
  font-size: 12px;
  color: #777;
}

.formulario input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #32CD32;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.formulario input[type="submit"]:hover {
  background-color: #28a428;
}
